/* original code: https://codepen.io/littlesnippets/pen/ZbemQo */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip1113 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 85%;
  margin: 40px auto;
  display: block;
  position: relative;
 border: 3px solid #666666;
  padding: 15px 15px 85px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1113 figcaption {
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
    font-family: 'Major Mono Display', Arial, sans-serif;
    background-color: #1F1E1E;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

figure.snip1113.red img {
  border-color: #FF0011;
}

figure.snip1113.red h3,
figure.snip1113.red h4 {
  color: #C28E08;
}

