/* .rotate-90 {
  transform-origin: 54% 278% !important;
  transform: rotate(-90deg);
}
.alias {
} */

.verticaltext{
  display: block;
  transform: rotate(-90deg);
  text-align: right;
  margin-top: 64px;
}
